<% provide(:title, "picture") %>
<div class="start-picture-form">
  <a href=<%= user_path(current_user.id) %>>
    <%= image_tag "dummy_user.jpg" %>
  </a>
  <input type="text" placeholder="What's on your mind?" class="form-control" id="show-picture-form" readonly="true">
</div>
<% @pictures.each do |picture| %>
  <%= render partial: picture %>
<% end %>