header {
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  box-shadow: 1px 0 5px rgb(225, 224, 230);
  padding: 0 20px;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  text-align: center;
}
.nav ul {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right ul {
  justify-content: end;
}
.nav li {
  list-style: none;
}
header a, header span {
  color: inherit;
  display:inline-block;
  line-height: 55px;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.header-left i {
  color: rgb(20, 118, 247);
}
.header-center a {
  width: 80px;
  border-radius: 15px;
  &:hover {
    background-color: rgba(225, 224, 230, 0.8);
  }
}
.header-right li {
  margin-left: 5px;
}
.header-right a, .header-right span{
  width: 55px;
  font-size: 20px;
  border-radius: 55px;
  background-color: rgba(225, 224, 230, 0.6);
  &:hover {
    background-color: rgb(225, 224, 230);
  }
}
main {
  width: 100%;
}
.rows {
  min-height: 100vh;
  width: 100%;
  padding-top: 56px;
  background-color: rgba(225, 224, 230,0.5);
}
.main-content {
  width: 100%;
}
#mini-menu-wrapper {
  position: absolute;
  top: 55px;
  right: 20px;
  width: 360px;
  z-index: 1;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 5px 10px rgb(225, 224, 230);
}
.mini-menu-header {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(225, 224, 230);
}
.mini-user {
  width: 100%;
  border-radius: 10px;
  display: flex;
  &:hover {
    background-color: rgb(225, 224, 230);
  }
}
.mini-user-image {
  width: 50px;
  height: 50px;
}
.mini-menu-main i {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: rgb(225, 224, 230);
}
.mini-menu-footer {
  color:rgb(184, 184, 184);
  font-size: 12px;
}
.top-alert {
  width: 100%;
  height: auto;
}