.login-page-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.login-btn-wrapper {
  margin-top: 10px;
  padding-top:10px;
  border-top: 1px solid rgb(225, 224, 230);
}